<div class="dialog-dropback">
    <div class="dialog-box">
        <div class="dialog-header">
            <div id="dialog-header-withdraw-text" class="dialog-title"></div>
            <button class="dialog-close-button">
                <img src="/images/clear.svg" />
            </button>
        </div>
        <div class="dialog-content">
            <div class="dialog-row">
                <div id="dialog-balance-text" class="dialog-text"></div>
                <div class="dialog-value">
                    <span id="dialog-balance">0</span>
                    <span id="dialog-token-balance" class="dialog-value-unit"></span>
                </div>
            </div>
            <div class="dialog-row">
                <div id="dialog-withdraw-balance-text"  class="dialog-text"></div>
                <div class="dialog-input-wrapper">
                    <input id="available-dialog-balance-input" class="dialog-input-field" type="number" />
                    <button id="available-dialog-balance" class="dialog-input-right-button">MAX</button>
                </div>
            </div>
        </div>
        <div class="dialog-footer">
            <button id="withdraw" class="dialog-button"></button>
        </div>
    </div>
</div>